*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# IntelliJ Idea #
.idea/
.gradle/
build/
*.iml
*.ipr
*.iws

_windows/
inspection/
databaseSettings.xml
debugger.xml
diff.xml
file_template_settings.xml
github_settings.xml
ide.general.xml
Default.xml
IntelliLang.xml
mavenVersion.xml
other.xml
ui.Inf.xml
vcs.xml
web.browsers.xml