<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      th:include="template/layout :: page">
<body>
<div th:fragment="content">
    <div class="jumbotron">
        <h1>Spring MVC app!</h1>
        <p>
            Nuestra pagina se especializa en...
        </p>
        <p>
            'este fondo puede llevar una imagen impactante'
        </p>
    </div>

    <h2>Static content for prototyping purposes only</h2>
    <span th:text="${message}"></span>
    <br/>
    <h2>Static content for prototyping purposes only</h2>
    <span th:text="#{view.index.hello}"></span>
    <br/>
    <h2>Static content for prototyping purposes only</h2>
    <span th:text="#{view.index.hello}"></span>
    <span th:text="${lang}"></span>

    <div class="row">
        <div class="col-md-4">
            <form action="#" th:action="@{/}" th:object="${personForm}" method="post" id="my-form">
                <div class="form-group">
                    <input type="text" th:field="*{name}" title="" class="form-control"/>
                    <!--para probarlo con ajax request-->
                    <span class="field-validation-error" data-valmsg-for="name"></span>
                    <!--para probarlo con ajax request-->
                    <!--para probarlo con postback-->
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                          class="field-validation-error" data-valmsg-for="name"></span>
                    <!--para probarlo con postback-->
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{age}" title="" class="form-control"/>
                    <!--para probarlo con ajax request-->
                    <span class="field-validation-error" data-valmsg-for="age"></span>
                    <!--para probarlo con ajax request-->
                    <!--para probarlo con postback-->
                    <span th:if="${#fields.hasErrors('age')}"
                          th:errors="*{age}"
                          class="field-validation-error"
                          data-valmsg-for="age"></span>
                    <!--para probarlo con postback-->
                </div>
                <button type="submit" class="btn btn-default" th:text="#{app.form.submit}"></button>
            </form>
            <script type="text/javascript">
                $(function () {
                    $("#my-form").submit(function (event) {
                        event.preventDefault();
                        $tw.ajax({form: this, targetId: "_resultDiv", operation: "append"});
                    });
                });
            </script>
        </div>
    </div>
    <div id="_resultDiv"></div>


</div>
</body>
</html>