<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      th:include="template/layout :: page">
<body>
<div th:fragment="content">
    <h1>Spring MVC app!</h1>
    <span th:text="${message}"></span>
    <br/>
    <span th:text="#{view.index.hello}"></span>
    <br/>
    <h2>Static content for prototyping purposes only</h2>
    <div th:include="http://www.thymeleaf.org :: p.notice"></div>
    <h2>Static content for prototyping purposes only</h2>
    <div th:include="http://www.thymeleaf.org :: p.notice"></div>
    <h2>Static content for prototyping purposes only</h2>
    <div th:include="http://www.thymeleaf.org :: p.notice"></div>
</div>
</body>
</html>